---
import SectionFour from "../../components/section/sectionFour.astro";
import SectionOne from "../../components/section/sectionOne.astro";
import SectionThree from "../../components/section/sectionThree.astro";
import SectionTwo from "../../components/section/sectionTwo.astro";
import Layout from "../../layouts/Layout.astro";
interface Invitation {
	family: string;
    uuid: string;
    invitationMessage: string;
    people: any[];
    event: any;


}
interface Props {
	invitation: Invitation;

}

export async function getStaticPaths() {
    const data = await fetch(`${import.meta.env.API}/invitation`).then(response => response.json());	
    return data.map(invitation => {
        return {
            params: {
            id: invitation.uuid
            },props: {
                invitation
            }
        };
    });
}
const {invitation } = Astro.props;
const {family ,uuid ,invitationMessage ,people ,event}= invitation;

---
<Layout title="Boda de Aictor y Andrea">
    <div>
		<SectionOne />	
		<SectionTwo family={family} invitationMessage={invitationMessage} people={people} />
		<SectionThree />
		<SectionFour events={event} />
	</div>
</Layout>