---
import WeddingEvent from "../events/weddingEvent.astro"
interface Props {
    events: any[];
}
const {events} = Astro.props;
---
<div class = "sectionFour" >
    <h2>EVENTOS</h2>
    <div></div>
    <div class = "center">
        {events.map((data) => <WeddingEvent description={data.name} place={data.place} date={data.date} maps={data.ubication}></WeddingEvent> <hr>)}
    </div>
    <div></div>
</div>

<style>
    h2 {
        text-align: center;
        grid-column: 1 / 6;
        color: var(--primary-color);
        text-shadow: 1px 1px 1px rgb(85, 84, 84);
    }
    .sectionFour {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 2%;
        background:var(--secondary-color);
        height: auto;
    }
    .center {
        padding: 5%;
        grid-column: 2 / 5;       
    }

    p {
        text-align: center;
        color: var(--primary-color);
        margin-block: 1%;
    }
    hr {
    border-style: none;
    background-color: var(--primary-color);
    height: 1px;
}

</style>