---
import { Image } from 'astro:assets';
import image1 from '../../images/foto-manos (2) (1).jpeg';
import image2 from '../../images/foto-chiguara.jpeg';
import image3 from '../../images/foto-asamblea1.jpeg';
import image4 from '../../images/foto-compromiso.jpeg';
import image5 from '../../images/foto-kfc.jpeg';
import image6 from '../../images/foto-pico-merida.jpeg';
import image7 from '../../images/foto-chorros-millas.jpeg';
import image8 from '../../images/foto-mueble.jpeg';

const { title } = Astro.props;
---

<div class="carrusel">
    <div class="slide"> <Image src={image1} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image2} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image3} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image4} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image5} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image6} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image7} alt="Un pájaro sentado sobre un nido de huevos."/></div>
    <div class="slide"> <Image src={image8} alt="Un pájaro sentado sobre un nido de huevos."/></div>
  </div>
<div>


<style>.carrusel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 50%;
    height: 50%;
    padding-inline: 1%;
    
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: carrusel-slide 30s linear infinite;
  }

  
  @keyframes carrusel-slide {
    0% {
    transform: translateX(0%);
  }

  95% {
    transform: translateX(-650%);
  }

  100% {
    transform: translateX(0);
  }
}




</style>